body {
    color:brown;
    background: fixed;
}

h1{
    font-size: xx-large;
    margin: 20px;
}

h2{
    font-size: x-large;
    margin: 20px;
}

p, ol, ul, li{
    font-size: medium;
    margin-top: 7px;
    margin-left: 20px;
}

img{
    height: 85%;
}

a{
    color: rgb(199, 8, 8);
}

.content-left{
    text-align: left;
    width: 50%;
    margin: 5px;
    border: 3px dotted darkred;
    border-radius: 5%;
}

.content-right{
    text-align: right;
    width: 50%;
    padding-right: 40px;
    margin: 5px;
    border: 3px dotted darkred;
    border-radius: 5%;
}

.content{
    display: flex;
    flex-direction: row;
    margin: 17px;
    border: 3px solid darkred;
    background-color: bisque;
}